@*@model ExchangeThings.Web.Models.AddNewItemConfirmationViewModel*@

<p>Congratulations!</p>

@*<p>Your new item "@Model.Name" was successfully added to the system with the ID @Model.Id</p>*@
<p>Your new item has been added</p>

